# Virtual Environment
venv/
env/
ENV/

# Database
*.sqlite3
*.db

# Environment variables
.env
.env.local

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.DS_Store

# PyCharm
.idea/
*.iml

# Media files
/media/
/staticfiles/